:root {
    font-size: medium;
}

h1, h2 {
    font-size: large;
}

img {
    width: 50%;
    height:50%;
}

header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;;
}

img {
    align-self: center;
}

section {
    display: flex;
    flex-direction: column;
}